
@{ ViewData["Title"] = "Index"; }

<h1>عرض المستخدمين</h1>


<style>

    .table {
        font-size: 18px;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">  عرض جميع المستخدمين </h3>
                <div class="card-toolbar">
                    <div class="example-tools justify-content-center">
                        <span class="example-toggle" data-toggle="tooltip" title="View code"></span>
                        <span class="example-copy" data-toggle="tooltip" title="Copy code"></span>
                    </div>
                </div>
            </div>
            <!--begin::Form-->

            <div class="card-body">

                <table class="table table-striped" id="UserTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">الرتبة العسكرية </th>
                            <th scope="col">الاسم رباعي </th>
                            <th scope="col"> اسم المستخدم</th>
                            <th scope="col"> الادارة</th>
                            <th scope="col">رقم الهوية </th>
                            <th scope="col">الرقم المالي </th>
                            <th scope="col">الجوال </th>
                            <th scope="col"> تفاصيل</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


                <div id="test"></div>
            </div>







            <!--begin: Code-->
            <!--end: Code-->
            <!--end::Form-->
        </div>
        <!--end::Card-->
    </div>
</div>



@section CssLinks
{
    <link href="~/DataTables-1.10.20/media/css/dataTables.bootstrap4.css" rel="stylesheet" />
}

@section ScriptsLinks{

    <script src="~/DataTables-1.10.20/media/js/jquery.dataTables.min.js"></script>
    <script src="~/DataTables-1.10.20/media/js/dataTables.bootstrap4.js"></script>
    <script src="~/js/moment.min.js"></script>
}
@section Scripts {

    <script>
        $(document).ready(function () {
            var table = $("#UserTable");


            $(document).ready(function () {

                BindDataTable();
            })
            $('#SearchName').click(function () {
                BindDataTable.ajax.reload();

            });
            var BindDataTable = function (response) {

                table.DataTable({
                    "destroy": true,
                    "bServerSide": true,
                    "sSearch": "Search all columns:",
                    "sAjaxSource": "/User/GetUser",
                    "aaSorting": [[0, "desc"]],
                    "processing": "true",
                    // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                    "language": {
                        "aria": {
                            "sortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                            "sortDescending": ": تفعيل لترتيب العمود تنازلياً"
                        },
                        "emptyTable": "لا يوجد بيانات",
                        "info": "عرض _START_ إلى _END_ من _TOTAL_ صفوف",
                        "infoEmpty": "لم يتم العثور على نتائج",
                        "infoFiltered": "(filtered1 من _MAX_ العدد الكلي)",
                        "lengthMenu": "_MENU_ اظهار",
                        "search": "بحث:",
                        "processing": '<h1>جاري جلب البيانات ...</h1>',
                        "zeroRecords": "لم يتم العثور على عناصر مطابقة",
                        "oPaginate": {
                            "sFirst": "الأول",
                            "sPrevious": "السابق",
                            "sNext": "التالي",
                            "sLast": "الأخير"
                        },
                    },
                    aoData: {
                        "data": function (d) {
                            return $.extend({}, d, RefrechParam([
                                //{ paramId: 'job', inputId: 'job' },
                                //{ paramId: 'FullName', inputId: 'FullName' },
                                //{ paramId: 'User_ID', inputId: 'hdnUserID_Search' }
                            ]));
                        },
                    },
                    "fnServerData": function (sSource, aoData, fnCallback) {

                        $.ajax({

                            type: "get",
                            data: aoData,
                            url: sSource,
                            success: fnCallback
                        })

                    },
                    "aoColumns": [
                        {
                            data: null, render: function (data, type, row, iDisplayIndex) {
                                return (iDisplayIndex.row + 1);

                            }

                        },

                        { data: "militaryRank", width: "10%" },
                        { data: "fullName", width: "20%" },
                        { data: "userName", width: "10%" },
                        { data: "fromjehaz", width: "10%" },
                        { data: "identityNumber", width: "10%" },
                        { data: "financeNumber", width: "10%" },
                        { data: "phoneNumber", width: "10%" },

                        //{
                        //    data: null, render: function (data, type, row) {
                        //        var date = new Date(data.arrivalDate);
                        //        return moment(data.arrivalDate).format("DD-MM-YYYY");
                        //    }
                        //},
                        {
                            data: null, render: function (data, type, row) {


                                return '<a href="/Account/Register?id=' + data.id + '" class="btn blue btn-sm btn-outline sbold" style="margin-left: 5px;" title=" تعديل"> <i class="fa fa-edit fa-fw"></i></a></div>'
                                    + '<a href="/Administrator/Manage?userId=' + data.id + '" class="btn blue btn-sm btn-outline sbold" style="margin-left: 5px;" title="ادارة الصلاحيات"> <i class="fa flaticon2-gear fa-fw"></i></a></div>'



                            }
                        }

                    ], "rowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {


                    }, "drawCallback": function (settings) {

                        //if (typeof DrawCallbackFunction === "function") {
                        //    DrawCallbackFunction();

                        //}


                    },

                });


            }




        });
    </script>

}